.article.intro {

	header {
		text-align: center;
	}

	.content {
		margin: 0px auto;
	}
}

.pagination {
	text-align: center;

	a {
		padding: 0px (@golden-line-height-computed / 2);
	}
}

.more, .date {
  font-family: 'Merriweather', serif;
  font-variant: small-caps;
  text-transform: lowercase;
  font-weight: 400;
  text-rendering: auto;
  letter-spacing: 1px;

  i {
  	font-variant: normal;
  }
}