extends layout

block append vars
  - bodyclass = 'golden';

block title
  | Joe Mercer - Blog

block append head
  link(rel='stylesheet', href='/css/blog.css')

block header

block content
  - var lineHeight = 2.2;
  - var archive = _.chain(env.helpers.getArticles(contents)).groupBy(function(item) {
  -   return item.date.getFullYear()
  - }).value()
  - var map = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']
  section.archive.golden-content.center-block
    h2 Archive
    ul
      - var years = _.chain(archive).keys().reverse().value()
      each year, i in years
        - var last = (years.length - 1 == i);
        li.year
          h3.year-label= year
          - var yearArticles = _.groupBy(archive[year], function(item) { return map[item.date.getMonth()] })
          - var months = Object.keys(yearArticles);
          ul
            each month, i in months
              - var articles = yearArticles[month]
              - var lastM = last && (months.length - 1 == i);
              li.month
                h4.month-label= month
                each article, i in articles
                  - var lastA = lastM && (articles.length - 1 == i);
                  p
                    a(href=article.url)= article.title

