
mixin author(authorName)
  - var author = contents.authors[authorName + '.json']
  span.author
    if author
      a(href=author.metadata.twitter.href)= author.metadata.twitter.label
    else
      =authorName
